<li id="ticket_property_<%=h ticket_property.id %>">
  <div class="actions float-r">
    <%= link_to _('View'), property_values_path(@project, ticket_property) -%>
    <%= link_to _('Edit'), edit_property_path(@project, ticket_property) -%>
    <%= link_to _('Delete'), property_path(@project, ticket_property), options_for_destroy_link %>
  </div>
  <span class="strong"><%=h ticket_property.name %></span>
</li>
