<% @page_title = _('Logged in as {{username}}', :username => h(User.current.username)) %>
<% slim_page %>
<%= page_title %>

<p><%=_ 'Hi {{user}}!', :user => h(User.current.name) %> <%=_ 'You are logged in to the system.' %></p>
      
<div class="content-footer">
  <%= link_to _('Home'), root_path %> | <%= link_to _('Logout'), logout_path %>  
</div>


