<tr class="<%= cycle('odd', 'even') -%> record">
  <td class="strong"><%=h task.name.humanize %></td>
  <td><%=h task.description %></td>
  <td>
    <% if task.started -%>
      <%= _('Started') %> <%=h time_interval_in_words(task.started) %>
    <% elsif task.last_run -%>
      <%= _('Last run') %> <%=h time_interval_in_words(task.last_run) %>
    <% else -%>
      &ndash;
    <% end -%>
  </td>
  <td><%= select_interval(task) %></td>
</tr>
