<tr class="<%= cycle('odd', 'even') -%> record">
  <td class="strong"><%=h task.name.humanize %></td>
  <td><%=h task.description %></td>
  <td>
    <% if task.running? -%>
      <%= _('Started') %> <%=h time_interval_in_words(task.started_at) %>
    <% elsif task.finished_at > 1.year.ago -%>
      <%= _('Finished') %> <%=h time_interval_in_words(task.finished_at) %>
    <% else -%>
      &ndash;
    <% end -%>
  </td>
  <td><%= select_interval(task) %></td>
  <td class="actions right">&nbsp;<%= link_to _('Reset'), admin_task_path(task), :method => :put if task.stale? %></td>
</tr>
