<tr class="<%= cycle('odd', 'even') -%> record">
  <td class="strong">
    <%= boolean_format file.readable? %>
    <%= link_to h(file.wiki_title), path_to_wiki_file(file) %>
  </td>
  
  <td><%=h file.file_name %></td>
  <td><%=h file.content_type %></td>
  <td><%=h number_to_human_size(file.size) %></td>
  
  <td class="actions righted span-4">
    <% if permitted?(:wiki_files, :destroy) -%>
      <%= link_to _('Delete'), project_wiki_file_path(Project.current, file), options_for_destroy_link %>
    <% end -%>
  </td>
</tr>
