<div class="ticket-intro clearfix">

  <div class="span-4">
    <h6 class="small"><%= truncated_author(@ticket) %></h6>
    <div class="loud tiny bottom-5" title="<%=h time_interval_in_words(@ticket.created_at) %>">
      <%=h datetime_format(@ticket.created_at) %>        
    </div>        
    <%= author_gravatar(@ticket.user, @ticket.author, :email => @ticket.email) %>
  </div>


  <div class="span-18 last">    
  
    <% if permitted?(:tickets, :delete) || permitted?(:tickets, :modify, @ticket) -%>
      <div class="float-r actions smaller">        
        <% if permitted?(:tickets, :modify, @ticket) -%>
          <%= in_place_edit_external_control _('Edit'), 'ticket-content' %>
        <% end -%>
        <% if permitted?(:tickets, :delete) -%>
          <%= link_to _('Delete'), project_ticket_path(Project.current, @ticket), options_for_destroy_link %>
        <% end -%>
      </div>
    <% end -%>

    <% if @ticket.attachment? %>
      <ul class="ticket-actions">
        <li class="loud"><span class="strong"><%=_ 'Attachment' %></span> <%=_ 'added' %>: <%= link_to_attachment_download @ticket.attachment %></li>
      </ul>
    <% end -%>

    <div id="ticket-content" class="markup ticket-content"><%= markup(@ticket.content) %></div>
    <% if permitted?(:tickets, :modify, @ticket) -%>
      <%= retro_in_place_editor 'ticket-content', 
            :url => modify_content_project_ticket_path(Project.current, @ticket),
            :rows => 4, :text => h(@ticket.content) %>
    <% end -%>
    
  </div>
  
</div>
