<% @page_title = _('Tickets') -%>
<% auto_discover_feed -%>
<%= page_title %>

<div class="tickets">

  <% content_header do -%>
    <div class="float-r fine">
      <span class="strong"><%=_ 'Group records' %>:</span>
      <%= ticket_group_by _('None'), '', nil %>,
      <%= ticket_group_by _('Week'), 'week' %>,
      <%= ticket_group_by _('Month'), 'month' %>,
      <%= ticket_group_by _('Assigned To'), 'user' %>,
      <%= ticket_group_by _('Priority'), 'priority' %>,
      <%= ticket_group_by _('Milestone'), 'milestone' %>
    </div>
    
    <%= link_to_function _('Filter tickets'), toggle_internal_navigation('filter', 'report') -%>
    <% if @reports.any? -%>
      | <%= link_to_function _('Show report'), toggle_internal_navigation('report', 'filter') -%>
    <% end -%>
    <% if @report or not @filters.default? -%>
      | <%= link_to _('Clear selection'), project_tickets_path(Project.current, :_clear => 1, :by => params[:by]) %>
    <% end -%>
    
  <% end -%>
  
  <% content_tag :div, :class => 'filter-selection clearfix', :id => 'ticket_report_selector', :style => (@report ? nil : 'display:none;') do -%>
    <%= render :partial => 'reports' %>
  <% end if @reports.any? -%>
  
  <% content_tag :div, :class => 'filter-selection clearfix', :id => 'ticket_filter_selector', :style => (@report || @filters.default? ? 'display:none;' : nil) do -%>
    <% content_tag :div, :class => 'float-r' do -%>
      <%= link_to_remote _('Save as Report'),
				:url => new_project_ticket_report_path(Project.current, :ticket_report => {:filters => @filters.to_params}, :format => 'js'),
				:method => 'get',
				:html => {:class => 'small'} %>
    <% end if permitted?(:reports, :create) and not @filters.default? -%>
    
    <%= ticket_filter_selector(@filters) %>
    
    <% if permitted?(:reports, :create) and not @filters.default? -%>
      <div id="ticket_report_form"></div>
    <% end -%>    
  <% end -%>

  
  <table class="record-list" summary="<%=_ 'Tickets' %>">
    <thead>
      <tr>
        <td colspan="4"><%= will_paginate @tickets, :params => { :project_id => Project.current.to_param } %></td>
        <td colspan="<%= property_types.any? ? 4 : 3 %>" class="righted"><%= _('Search') %>: <%= search_field_tag %></td>
      </tr>
      <tr>
        <th><%= _('ID') %></th>
        <th><%= _('Status') %></th>
        <th><%= _('Summary') %></th>
        <th><%= _('Assigned To') %></th>
        <th><%= _('Priority') %></th>
        <th><%= _('Milestone') %></th>
        <% if property_types.any? -%>
          <th><%= _('Properties') %></th>
        <% end -%>
        <th><%= _('Last Update') %></th>
      </tr>
    </thead>
  
    <tfoot>
      <tr>
        <th colspan="4"><%= will_paginate @tickets, :params => { :project_id => Project.current.to_param } %></th>
        <th colspan="<%= property_types.any? ? 4 : 3 %>" class="righted"><%= will_paginate_per_page(@tickets) %></th>
      </tr>
    </tfoot>
  
    <tbody id="tickets">
      <%= render_grouped @tickets, params[:by] %>
    </tbody>
  </table>
  
  <%= observe_field 'term',
        :frequency => 1,
        :url => tickets_path(:prefix => :search, :format => 'js'),
        :with => "'term=' + encodeURIComponent(value)" -%>

</div>