<% @page_title = _('Changeset') + ' ' + @changeset.revision -%>
<%= page_title %>

<div class="changeset">

  <div class="content-header"><%= changeset_navigation(@changeset) %></div>    

  <%= render :partial => 'changeset', :locals => {:changeset => @changeset }%>

  <% if User.current.permitted?(:code, :browse) -%>
    <h2><%=_ 'Affected files' -%>:</h2>

    <% cache :controller => 'changesets', :action => 'show', :id => @changeset.id, :locale => I18n.locale do -%>
      <ul class="changes">
        <%= format_changes(@changeset) %>
      </ul>
  
      <%= render :partial => 'change', :collection => @changeset.changes.select(&:unified_diff?) -%>
    <% end -%>
  <% end -%>
</div>
  
