<div class="node-info box clearfix">

  <div class="span-4 centered colborder">
    <div class="bottom-5"><%= author_gravatar(@changeset ? @changeset.user : nil, @node.author) %></div>
    <% unless @node.author.blank? -%>
      <h6><%=h truncate(@node.author, :length => 20) %></h6>
    <% end -%>
    <div class="loud smaller">
      <%= datetime_format(@node.date) %><br/> 
      (<%= time_interval_in_words(@node.date) -%>)           
    </div>        
  </div>

  <div class="span-16 last">
    <h3 class="bottom-1"><%= _('Revision') + " #{@node.selected_revision}" %></h3>
    <% unless @node.latest_revision? -%>
      <div class="small"><%= link_to_browse _('Show latest'), params[:path] %></div>
    <% end -%>
    <div class="top-10 quiet small commit-log"><%= format_log(@node.log) %></div>    
    <% unless @node.properties.blank? -%>
      <div class="node-properties">
        <h6><%=_ 'Properties' -%>:</h6>
        <%= format_properties(@node.properties) %>
      </div>  
    <% end -%>
  </div>  

</div>
