<tr class="<%= cycle('odd', 'even') -%> record">
  <td title="<%=h revision.revision %>" class="linked">
    <%= link_to_browse h(@node.name + ' [' + revision.short_revision + ']'), params[:path], revision.revision %>
  </td>
  <td><%=h date_format(revision.created_at) %></td>
  <td><%=h revision.author %></td>
  <td class="small quiet"><%=h truncate(revision.log.to_s, :length => 80) %></td>
  <% if permitted?(:changesets, :view) -%>
    <td class="linked"><%= link_to_changeset _('Changeset'), revision.revision %></td>
  <% end -%>
  <td class="linked"><%= link_to_diff _('Diff'), @node, params[:path], revision.revision %></td>
</tr>
