<%= f.error_messages %>

<% f.fieldset do -%>
  <%= f.label :name, _('Name') + ':', :required => true %>
  <%= f.text_field :name %>
<% end -%>
  
<% f.fieldset do -%>
  <%= f.label_tag _('Filter options') + ':' %>
  <div class="filter-selection">
    <%= report_filter_selector(f) %>
  </div>
<% end -%>

<% f.fieldset do -%>
  <%= f.label_tag _('Within the last') + ':' %>
  <div>
    <%= time_interval_select :ticket_report, :time_interval, 
        { :skip => ['minutes', 'hours'], :range => 1..24 }, 
        { :include_blank => true } %>
  </div>
<% end -%>
