<% @page_title = _('Reports') -%>
<%= render :partial => '/admin/shared/header' %>
<%= breadcrumbs link_to(_('Projects'), admin_projects_path), h(@project.name + ': ' + @page_title) -%>

<div class="bottom-5 strong"><%= link_to _('Create a new report'), new_admin_project_report_path(@project) %></div>
<div class="box">
  <ul id="ticket_reports" class="sortable">  
    <%= render :partial => 'ticket_report', :collection => @ticket_reports %>
  </ul>
  <%= sortable_element "ticket_reports", :url => sort_admin_project_reports_path(@project), :method => :put %>
</div>