<h3 title="<%=h @story.title %>" class="bottom">
  <%=h truncate(@story.title, :length => 80) %> &ndash
  <span class="tiny">
    <%=_ '%{count}h', :count => @story.revised_hours %>
    (<%=_ '%{count}h', :count => @story.estimated_hours %>)
  </span>
</h3>
<%= content_tag :p, h(@story.goal.title), :class => "bottom quiet" if @story.goal %>
<hr class="top-5"/>  
<%= render :partial => 'event', :collection => [@story] + @story.events %>  
