<% @page_title = _('Blog') + ': ' + h(@blog_post.title) -%>
<% include_blog_stylesheet -%>
<% slim_page -%>

<div class="retro-blog"> 
  <% content_tag :div, :class => 'float-r actions smaller' do -%>        
    <% if permitted?(:blog_posts, :update) -%>
      <%= link_to _('Edit'), edit_project_blog_post_path(Project.current, @blog_post) %>
    <% end -%>
    <% if permitted?(:blog_posts, :delete) -%>
      <%= link_to _('Delete'), project_blog_post_path(Project.current, @blog_post), options_for_destroy_link %>
    <% end -%>
  <% end if permitted?(:blog_posts, :update) || permitted?(:blog_posts, :delete) -%>
  
  <%= render :partial => 'blog/post', :locals => { :post => @blog_post, :preview => false } %>
  <hr class="space" />
  <hr />
  <%= top_link %>
  
  <%= render :partial => 'blog/comments' %>
  <%= render :partial => 'blog/comment_form' if permitted?(:blog_posts, :comment) %>
</div> 
  