<% @page_title = _('Goals') -%>
<% slim_page -%>

<div class="agile-pm">
  <%= render :partial => 'header' %>  

  <% plus_form_for @goal, :url => goal_path(@goal) do |f| -%>  
    <%= f.info h(truncate(@goal.title, :length => 80)) %>
    <%= f.error_messages %>

    <%= render :partial => 'form', :locals => { :f => f } %>

    <fieldset>
      <%= submit_tag _('Update') %> | <%= link_to _('Cancel'), sprint_location %>
    </fieldset>
  <% end -%>   

</div>
  