<% @page_title = _('Goals') -%>
<% slim_page -%>

<div class="agile-pm">
  
  <% plus_form_for @goal, :url => goals_path do |f| -%>  
    <%= f.info _('New Goal') %>
    <%= f.error_messages %>

    <%= render :partial => 'form', :locals => { :f => f } %>

    <fieldset>
      <%= submit_tag _('Create') %> | <%= link_to _('Cancel'), sprint_location %>
    </fieldset>
  <% end -%>   

</div>
  