<%= render :partial => 'layouts/top' %>

<div id="header">
  <div class="clearfix">
    <div id="logo"><%= link_to image_tag('logo.png', :alt => _('Home'), :title => _('Home')), root_path, :class => 'transparent' %></div>
    <div id="status_info">
      <div id="login_info"><%= links_to_account_management %></div>
      <div id="project_info"><%= Project.current ? h(Project.current.name) : '&nbsp;' %></div>      
    </div>
  </div>

  <div id="menu" class="clearfix">
    <%= yield :main_navigation %>    
    <% if User.current.projects.active.size > 1 || User.current.admin? -%>
      <ul id="base-navigation"><%= base_navigation %></ul>
    <% end -%>
  </div>
  
  <div id="flash_box" style="display: none;" onclick="new Effect.Fade(this,{duration: 0.1, from: 0.7});">  
    <%= render_flash_messages %>
  </div>

  <div id="load_indicator" style="display: none;">  
    <div class="content"><%=_ 'Loading...' %></div>
  </div>  

</div>
